body {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  margin: 70px 0;
  cursor: default;
}

div.main {
  width: 50%;
  margin: auto;
}

div.links a {
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 4px;
  color: black;
}

div.links a.signup, div.links a.login {
  border-bottom: 3px solid aqua;
  border-top: 3px solid aqua;
}

form div button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

form div button.signup, form div button.login {
  background-color: aquamarine;
}

form div button.cancel {
  background-color: grey;
}
